.header {
  background-color: var(--white);
}

.container {
  max-width: 1108px;
  width: 100%;
  height: var(--header-height);

  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
