.user_menu {
  min-width: 200px;

  padding: 16px 20px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

/* адаптивная верстка */
@media screen and (max-width: 600px) {
  .user_menu {
    min-width: 1px;
  }
}
