.navigation {
  display: flex;
  gap: 20px;
  color: var(--dark-gray);
}

.navmenu {
  display: flex;
  gap: 4px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile_img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.profile_name {
  font-size: var(--font-size-m);
}

.link {
  color: var(--black);
}

.link:hover {
  color: var(--accent);
}

.link:active {
  color: var(--dark-gray);
}

/* адаптивная верстка */
@media screen and (max-width: 480px) {
  .navmenu {
    display: none;
  }

  .profile_name {
    display: none;
  }
}
